type devicesettings_app, domain;
app_domain(devicesettings_app)

allow devicesettings_app {
    activity_service
    activity_task_service
    app_api_service
    audio_service
    audioserver_service
    autofill_service
    batteryproperties_service
    batterystats_service
    cameraserver_service
    game_service
    gpu_service
    media_session_service
    mediaextractor_service
    mediametricstransaction_service
    mediaserver_service
    power_service
    sensorservice_service
    surfaceflinger_service
    thermal_service
    tethering_service
    uimode_service
    vendor_perf_service
}:service_manager find;

# Fan & RGB sysfs
rw_dir_file(devicesettings_app, sysfs_fan)

# Touchscreen sysfs (sampling rate / rate_boost)
rw_dir_file(devicesettings_app, sysfs_touch)

# Trigger buttons & input devices
rw_dir_file(devicesettings_app, proc_touchkey)
allow devicesettings_app input_device:dir r_dir_perms;
allow devicesettings_app input_device:chr_file rw_file_perms;

# CPU & Thermal & LED & CGroup & Battery & KGSL & Graphics controls
allow devicesettings_app {
    sysfs_devices_system_cpu
    sysfs_thermal
    sysfs_leds
    sysfs_batteryinfo
    sysfs_kgsl
    sysfs_graphics
    cgroup
}:file rw_file_perms;

allow devicesettings_app {
    sysfs_devices_system_cpu
    sysfs_thermal
    sysfs_leds
    sysfs_batteryinfo
    sysfs_kgsl
    sysfs_graphics
    cgroup
}:dir r_dir_perms;


# Sched WALT / proc sys controls
allow devicesettings_app proc:file rw_file_perms;

