type devicesettings_app, domain;
app_domain(devicesettings_app)

allow devicesettings_app {
    activity_service
    activity_task_service
    app_api_service
    audio_service
    audioserver_service
    autofill_service
    batteryproperties_service
    batterystats_service
    cameraserver_service
    display_service
    game_service
    gpu_service
    media_session_service
    mediaextractor_service
    mediaserver_service
    notification_service
    power_service
    sensorservice_service
    surfaceflinger_service
    thermal_service
    tethering_service
    uimode_service
    vibrator_manager_service
    vibrator_service
}:service_manager find;

# Fan & RGB sysfs
rw_dir_file(devicesettings_app, sysfs_fan)

# Touchscreen sysfs (sampling rate / rate_boost)
rw_dir_file(devicesettings_app, sysfs_touch)

# Trigger buttons
rw_dir_file(devicesettings_app, proc_touchkey)

# Sched WALT controls
rw_dir_file(devicesettings_app, proc_walt)

# Generic proc & sysfs read permissions (for /proc/meminfo, measured_fps, etc.)
r_dir_file(devicesettings_app, proc)
r_dir_file(devicesettings_app, sysfs)

# Specific typed sysfs read/write permissions
allow devicesettings_app {
    sysfs_devices_system_cpu
    sysfs_thermal
    sysfs_leds
    sysfs_batteryinfo
    sysfs_kgsl
    sysfs_gpu
    cgroup
}:file rw_file_perms;

allow devicesettings_app {
    sysfs_devices_system_cpu
    sysfs_thermal
    sysfs_leds
    sysfs_batteryinfo
    sysfs_kgsl
    sysfs_gpu
    cgroup
}:dir r_dir_perms;
