# Fan control
type sysfs_fan, fs_type, sysfs_type;

# Trigger buttons
type proc_touchkey, fs_type, proc_type;

# Sched WALT controls
type proc_walt, fs_type, proc_type;

# Touchscreen & Triggers
type sysfs_touch, fs_type, sysfs_type;

# KGSL GPU sysfs
type sysfs_kgsl, fs_type, sysfs_type;

